/* Untuk Tablet */
@media all and (max-width: 1000px) {

/* khusnul */
.extra1 h2 {
    margin: 0 122px;
}

.container {
    width: 70%;
}
.gambar{
  width: 75%;
}
.cara {
    width: 40%;
    margin: 0 5%;
    padding: 0 1%;
}
/* end khusnul */


/* darlan berita */
.berita{
  width: 50%;
}
/* end darlan berita */

/* junot */
.lesson {
  width: 50%;
  margin-bottom: 50px;
}

.top-wrapper h1 {
  font-size: 32px;
}

.heading h2 {
  font-size: 20px;
}
/* end junot */


}
/* end Untuk Tablet */

/* ------------------------------------------------------------------------------- */

/* Untuk Smartphone */
@media all and (max-width: 670px) {

/* khusnul */
.extra1 h2 {
    margin: 0 80px;
}

.container {
    width: 60%;
}

.gambar{
  width: 50%;
}

.cara {
    width: 80%;
    margin: 0 10%;
    padding: 0 1%;
}
/* end khusnul */

  /* darlan berita */
.berita{
  width: 100%;
}
/* end darlan berita */

/* junot */
.lesson {
  width: 100%;
}

footer {
  text-align: center;
}

.btn {
  width: 100%;
}

.facebook {
  margin-bottom: 10px;
}

.top-wrapper {
  text-align: left;
}

/* Tambahkan CSS untuk header-right */
.header-right {
  display: none;
}

/* Tambahkan CSS untuk menu-icon */
.icon span{
  display: block;
}

.top-wrapper h1 {
  font-size: 24px;
  line-height: 36px;
}

.top-wrapper p {
  font-size: 14px;
  line-height: 20px;
}

.footer-contact{
  padding-top: 10px;
  font-size: 10px;
}

/* end junot */


}
/* end Untuk Smartphone */
