/* defauld css reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* end defauld css reset */
body{
  /* background-color:  */

  background-color: #f7fafc;
}

/* khusnul */
clear{
    clear: left;
}

.extra1 {
    margin: 0 auto;
    margin-bottom: 90px;

}

.extra1 h2, .berita-judul{
    font-size: 24px;
    border-bottom: 2px solid #769c95;
    padding: 5px 0;
    margin: 0 122px;
}

.container {
    margin: 0 auto;
    width: 80%;
    border-color: red;
}

.cara{
    width: 20%;
    float: left;
    margin: 0 2.5%;
    padding: 0 1%;
    text-align: center;
}

.gambar {
    width: 100%;
    margin-top: 30px;

}
img{
  border-radius: 50%;
}
.cara p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

/* end khusnul */




/* darlan berita */
.clear {
  clear: left;
}

/* .berita-wrapper {
  margin: 0 60px;
  /* border: 1px solid red; */
/* }  */

/* .berita-container hr {
  margin-bottom: 70px;
  border: 1px solid #2B62FC;
  opacity: 0.5;
} */

.item-berita {
  width: 100%;
}
.berita {
  margin-top: 30px;
  float: left;
  width: 25%;
  /* background-color: #999; */
  margin-bottom:  20px ;
  padding-right: 20px;
  padding-left: 18px;
  opacity: 1;
  animation: animasiBerita 3s;

}
.berita h3{
  margin-bottom: -10px;
}
.text-berita {
  padding: 20px 0;
  font-size: 12px;
  /* letter-spacing: 1px; */
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 8px;
  font-size: 12px;
}

.baca {
  background-color: #2B62FC;
  width: 100%;
  text-align: center;
}

.baca:hover {
  opacity: 1;
  cursor: pointer;
}

/* animasi berita */
@keyframes animasiBerita{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
}
/* end animasi berita */

/* end darlan berita */


/* junot */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(9, 132, 227,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 100px;
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  opacity: 0.8;
  display: block;
  float: left;
  transition: all 0.5s;
  font-family: sans-serif;
}

.header-right a:hover {
  background-color: rgba(55, 66, 250,0.9);
  opacity: 1.0;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

footer {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(9, 132, 227,0.9);
}

.footer-logo {
  margin-top: auto;
  float: left;
}

.footer-hastag {
  padding-top: 20px;
  float: none;
  text-align: center;
  font-size: 15px;
  color: #c23616;
}

.footer-contact {
  font-size: 14px;
  float: right;
}

.footer-contact a {
  color: white;
  margin: 5px 0;
}

.footer-contact a:hover {
  color: #192a56;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.fa {
  margin-right: 5px;
}
/* end junot */
